.features {
  color: var(--primary-texr-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-features {
  list-style-type: none;
  display: flex;
}

.features-list {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.advantages {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.advantages-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
