.hero {
  background-color: var(--color-baner);
  background-image: url(/images/images/deckstope/bg-main.jpg);
  padding: 168px 0;
  width: 100%;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/images/deckstope/bg-main.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/images/tablet/bg-main.jpg);
  }
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/images/mobile/bg-main@2x.jpg);
  }
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (max-width: 1199px) {
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
