.section-clients {
  background: #ffffff;
}
.clients-title {
  text-align: center;
  color: var(--primary-texr-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 30px;
  text-align: center;
  @media screen and(min-width:1200px) {
    margin-bottom: 50px;
  }
}
@media screen and(min-width:480px) {
  .section-clients {
    padding-top: 60px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  list-style-type: none;
}

.clients-item {
  @media screen and(max-width:767px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
  }
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover .icon-logo,
  &:focus .icon-logo {
    fill: var(--accent-color);
  }
}

.icon-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
}
