.team {
  display: block;
  list-style-type: none;
  //   margin-left: -30px;
  //   margin-top: -30px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.masters-list {
  // margin-left: 30px;
  // margin-top: 30px;
  background-color: var(--white-color);
  & {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.masters-list:not(:first-child) {
  margin-top: 30px;
}
.section-team {
  background-color: var(--current-fon-color);
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and(min-width:480px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-list {
  color: var(--primary-texr-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  @media screen and(min-width:1200px) {
    justify-content: space-between;
  }
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.head {
  margin-bottom: 50px;
  @media screen and(min-width:480px) {
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
    margin-bottom: 50px;
  }
}
.team-professional {
  color: var(--title-text-col);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-colums {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.picture {
  width: 100%;
}
