.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  & :hover {
    color: var(--accent-color);
  }
}

.logo__black {
  color: var(--black-color);
  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
}
