:root {
  --primary-texr-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --black-color: #000000;
  --color-baner: #2f303a;
  --current-fon-color: #f5f4fa;
}
